Faster/myFiles/configurazioneFaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Faster.ConfigurazioneFaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nomeApplicazione" type="xs:string" />
        <xs:element name="righeTabella" type="xs:unsignedByte" />
        <xs:element name="nomeDefaultGrafico" type="xs:string" />
        <xs:element name="valoreColonneGrafico" type="xs:unsignedByte" />
        <xs:element name="tipoFont" type="xs:string" />
        <xs:element name="grandezzaFont" type="xs:unsignedByte" />
        <xs:element name="coloreDefaultBackground" type="xs:string" />
        <xs:element name="indirizzoIPClient">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="versione" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="indirizzoIPServerLog">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="versione" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="portaServerLog" type="xs:unsignedShort" />
        <xs:element name="nomeDB" type="xs:string" />
        <xs:element name="pswDB" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>