Faster/myFiles/eventoLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Faster.EventoLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="indirizzoIPClient" type="xs:string" />
        <xs:element name="nomeApplicazione" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="ora" type="xs:time" />
        <xs:element name="data" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>